body {
    background: url("bgbgbg.png");
    background-size: cover;
    /*    background-color: #222222;
        background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;*/
}

.noti {
    width: 450px;
    height: 300px;
    overflow: hidden;
    position: absolute;
    top: 30%;
    left: 30%;
    font-family: 'Jeju Gothic', sans-serif;
    cursor: pointer;
    z-index: 300;
    animation-duration: 1s;
}
.noti:before {
    content: '';
    position: absolute;
    left: -100px; /*-half buffer -left border*/
    height: 288px;
    width: 640px;
    background-color: rgba(34, 34, 34, 0.6);
    background: repeating-linear-gradient(45deg, rgba(43, 43, 43, 0.6) 0%, rgba(43, 43, 43, 0.6) 10%, rgba(34, 34, 34, 0.6) 0%, rgba(34, 34, 34, 0.6) 50%) 0 / 15px 15px;
    -webkit-transform: skewX(45deg);
    -moz-transform: skewX(45deg);
    transform: skewX(45deg);

}

.noti-content {
    color: white;
    margin: 10px 40px 40px 40px;
    position: relative;
    transition: all 0.5s;
}

.neon{
    animation: neon 0.7s ease-in-out infinite alternate;
}

.noti-header{
	font-family: 'Jeju Gothic', sans-serif;
}

/* .noti:hover .noti-header{
    animation: none;
} */

.noti-name {
    display: inline-block;
    float: right;
    margin-top: 10px;
    margin-right: 30px;
}

.noti-body{
    font-size: 25px;
    margin:20px 0 20px 0;
}

@keyframes neon {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px #228DFF,
        0 0 70px #228DFF,
        0 0 80px #228DFF,
        0 0 100px #228DFF,
        0 0 150px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #228DFF,
        0 0 35px #228DFF,
        0 0 40px #228DFF,
        0 0 50px #228DFF,
        0 0 75px #228DFF;
    }
}

.jokbal-wrapper {
    position: absolute;
    width: 135px;
    height: 35px;
    right: -5%;
    top:10%;
    box-shadow: -5px 5px 9px 0px rgba(50, 50, 50, 0.75);
    cursor: pointer;
    z-index: 500;
    animation-duration: 1s;
}
.jokbal {
    position: relative;
    width: 100px;
    height: 35px;
    background-color: white;
    line-height: 35px;
    text-align: center;
    float: right;
    font-family: 'Jeju Gothic', sans-serif;
}
.jokbal-label {
    position: relative;
    width: 35px;
    height: 35px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: red;
    float: left;
}

.jokbal-wrapper:HOVER {
    animation-name: slide;
    right: 0%
}

@keyframes slide{
	from{
		right: -5%
	}
	
	to{
		right: 0%
	}
}
