.hidden {
	display: none;
}

#container {
	position: relative;
	width: 100%;
	height: 400px;
	border: 2px solid black;
}

#wrapper {
	width: 70%;
	height: 400px;
	float: left;
}
#seat {
	position: relative;
	width: 100%;
	height: 400px;
	float: left;
	margin: 0 auto;
	background-image: url("/resources/nojo/images/classRoom_background.png");
	overflow: auto;
}

#lobby {
	width: 29%;
	min-width: 300px;
	height: 400px;
	float: left;
	overflow: auto;
}

.chair {
	position: absolute;
	width: 85px;
	height: 78px;
	display: inline-block;
	background-image: url("/resources/nojo/images/student.png");
	border-radius: 3px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-top: 3px;
}

.img {
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 18px;
	margin-top: 40px;
	margin-left: 20px;
}

.realImg {
	width: 40px;
	height: 40px;
	border-radius: 18px;
	margin-top: -67px;
}
.name {
	font-size: 18px;
	font-family: "나눔고딕";
	margin-left: 13px;
	margin-top: -40px;
	background-color: white;
	}
#content {
	width: 100%;
	height: 400px;
	padding: 10px;
	padding-bottom: 30px;
	border: 1px solid #000;
}

