<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.nojo.mapper.QuestionMapper">

	<select id="searchPage" parameterType="map"
		resultType="org.nojo.domain.QuestionVO">
		<bind name="search" value= "search" />
		<bind name="cri" value="cri" />
		<![CDATA[
			select @rownum:=@rownum+1 as question_no, question_title, question_content, mem_id, question_reg_date, clz_domain
			from tbl_question, (select @rownum:=0) tmp
		]]>
		<where>
			<foreach collection="search.searchKey" item="key" separator="or">
				${key} like CONCAT('%',#{search.searchValue},'%')
			</foreach>
			AND	clz_domain = #{domain}
		</where>

		order by question_no desc limit #{cri.first}, #{cri.perPageNum}

	</select>


	<select id="getSearchCnt" parameterType="map" resultType="int">
		<bind name="search" value= "search" />
		
		select count(question_no) from tbl_question 

		<where>
			<foreach collection="search.searchKey" item="key" separator="or">
				${key} like concat('%',#{search.searchValue},'%')
			</foreach>
			AND clz_domain = #{domain}
		</where>

	</select>




	<select id="listPage" parameterType="map" resultType="org.nojo.domain.QuestionVO">

		<![CDATA[		
			select @rownum:=@rownum+1 as rowNum, question_no, question_title, question_content, mem_id , question_reg_date, question_visible, clz_domain
			from tbl_question, (select @rownum:=0) tmp
			]]>
		<where>
			clz_domain = #{domain}
		</where>
			<![CDATA[
			order by rowNum desc limit #{cri.first}, #{cri.perPageNum} 
			]]>

	</select>

	<select id="getTotalCnt" resultType="int">
		
		select count(question_no)
		from tbl_question

		<where>
		<![CDATA[
		clz_domain = #{domain}
		]]>
		</where>
	</select>

</mapper>