<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.nojo.mapper.SeatMapper">
	<!-- 유저 추가 -->
	<insert id="addSeat" parameterType="map">
		insert into tbl_seat(mem_id, seat_x, seat_y, clz_domain) values 
		<foreach collection="list" item="vo" open="(" close=")" separator="),(">		
			#{vo.mem_id}, #{vo.seat_x}, #{vo.seat_y}, #{domain}
		</foreach>
	</insert>
	<!-- Main 배치도에 배치된 애들만 출력 -->
	<select id="listMember" parameterType="List" resultType="org.nojo.domain.SeatVO">
			select m.mem_name, s.mem_id, s.seat_x, s.seat_y
			from tbl_member m, tbl_seat s
			<where>
			m.mem_id = s.mem_id and s.clz_domain = #{clz_domain}
			<if test="key == 'seat'">
			and seat_x is not null
			</if>
			</where>
	</select>
</mapper>